<div class="container my-5">
    <h5 class="font-weight-bold mb-4">User Details</h5>
    <div class="table-responsive table-container border-right border-left border-bottom mb-3">
      <div *ngIf="userlist.length">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>Password</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody >
            <ng-container *ngFor='let arr of userlist'>
              <tr>
                <td>{{arr.name}}</td>  
                <td>{{arr.email}}</td>  
                <td>{{arr.mobile}}</td>  
                <td>{{arr.password}}</td>       
                <td>
                  <div class="btn-group">
                      <button (click)="deleteEmp(arr.id)" class="btn btn-sm btn-outline-danger"> Delete</button>
                      <button (click)="editEmp(arr.id)" class="btn btn-sm btn-outline-primary"> Edit</button>
                  </div>
                </td>
              </tr>
            </ng-container>
      
          </tbody>
        </table>
      </div>
      <div *ngIf="!userlist.length">
        <h1>No Data Is available</h1>
      </div>
    </div>
    <div class="text-right">
      <button (click)='onExcel()' class="btn btn-primary">Export to Excel</button>
    </div>
  </div>
  